.button-height {
  border: none !important;
  border-radius: 5px;
  background-color: #2bbfa9;
  padding: 0 2%;
  height: 100%;
}
.button-height:hover {
  cursor: pointer;
  background-color: #72e3d4;
}
.button-pad {
  border: none;
  border-radius: 5px;
  background-color: #2bbfa9;
  padding: 2% 5%;
}
.button-pad:hover {
  cursor: pointer;
}
.button-confirm {
  border: none;
  border-radius: 5px;
  width: 25%;
  background-color: #2bbfa9;
}
.button-confirm:hover {
  border: none;
  cursor: pointer;
  background-color: #72e3d4;
}
.button-cancel {
  width: 25%;
  background-color: #ef4b4b;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 5px;
}
.button-cancel:hover {
  color: black;
  background-color: #ff7c7c;
}
.button-cancel-2 {
  border: none;
  border-radius: 5px;
  width: 30%;
  background-color: #ef4b4b;
}
.button-cancel-2:hover{
  cursor: pointer;
}
.button-home {
  border: none;
  border-radius: 5px;
  background-color: #2bbfa9;
  padding: 0 2%;
  text-decoration: none;
  color: black;
}
.button-home:hover {
  cursor: pointer;
  background-color: #72e3d4;
}
@media (max-width: 1024px) {
  .button-height {
    margin: 2% 0 0 0;
    width: 80%;
  }
  .button-cancel-2{
    width: 100%;
  }
}
