.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  height: 15svh;
}
.nav-items {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 70%;
}
.nav-links a {
  cursor: pointer;
  margin: 0 5%;
}
.nav-items img {
  cursor: pointer;
  height: 20px;
}
.emp-logo {
  display: flex;
  justify-content: start;
  user-select: none;
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: -1.2pt;
}
.emp-logo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .emp-logo a {
    font-size: 14pt;
  }
  .nav-items {
    font-size: 8pt;
  }
  .nav-links {
    width: 80%;
    margin: 2% 0;
  }
}
@media (max-width: 400px) {
  .nav-items {
    flex-direction: column;
  }

  .nav-account {
    position: fixed;
    top: 4%;
    right: 8%;
  }
}
