*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

main {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
