.login-body-low{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85svh;
    width: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 50%;
    height: 80%;
    transition: box-shadow 0.3s;
}

.login-container:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.login-submit{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5% 0;
}
.login-input{
    margin: 2% 0;
}
.login-error{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.login-error p{
    margin: 0;
}

@media (max-width: 768px) {
    .login-container{
        width: 90%;
    }
}