.dashboard-body-low{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85svh;
    width: 100%;
}
.dashboard-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin: 2%;
    padding: 1%;
}
.dashboard-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50%;
    margin: 1%;
    background-color: whitesmoke;
    border-radius: 25px;
    transition: box-shadow 0.3s;
}
.dashboard-panel:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.dashboard-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    gap: 5%;
    width: 100%;
}
.dashboard-item:hover{
    cursor: pointer;
}
.dashboard-item p{
    margin: 0;
}
.dashboard-item img{
    height: 50px;
}
.dashboard-pasaje-precio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.btn-submiteo-3-dashboard{
    width: 30%;
    background-color: #ef4b4b;
}
.dashboard-back-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2%;
}
.dash-items{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.dash-items a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.dash-items img{
    cursor: pointer;
    height: 20px;
}
@media (max-width: 1024px) {
    .pasaje-tipo{
        width: 100%;
    }
    .dashboard-panel{
        width: 50%;
    }
    .btn-submiteo{
        width: 80%;
    }
    .btn-submiteo-3-dashboard{
        width: 80%;
    }
}