.body-end{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 85svh;
    width: 100%;
}
.body-end h2{
    user-select: none;
    font-size: 30pt;
    font-weight: 400;
}
.body-end h3{
    user-select: none;
    font-size: 14pt;
    font-weight: 300;
}
.body-end p{
    user-select: none;
    font-size: 10pt;
    font-weight: 300;
}
.body-desc{
    text-align: center;
}
.btn-submiteo-5{
    background-color: #ef4b4b;
}
.btn-submiteo-5 a{
    text-decoration: none;
    color: black;
}
.btn-submiteo-5:hover{
    color: black;
    background-color: #ff7c7c;
}
@media (max-width: 450px) {
    .end-buttons{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
    }
    .btn-submiteo{
        width: 100%;
    }
    .btn-submiteo-5{
        width: 100%;
    }
}