.home-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 8px gray;
    width: 60%;
    height: 20%;
}
.main-form{
    display: flex;
    justify-content: center;
    height: 85svh;
    width: 100%;
}
.main-form-img{
    width: 100%;
    height: 100%;
    margin: 0 5%;
}
.main-form-img img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 80%;
}
.main-form-group{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    width: 100%;
}
.main-form-group label{
    font-weight: 500;
}
.btn-submiteo{
    background-color: #2bbfa9;
}
.btn-submiteo:hover{
    background-color: #72e3d4;
}
.form-labels{
    display: flex;
    flex-direction: column;
}
.home-error{
    width: 100%;
    padding: 0 5%;
    font-size: 10pt;
}

@media (max-width: 1024px) {
    .home-form{
        bottom: 1%;
        width: 90%;
        height: 50%;
    }
    .main-form-group{
        flex-direction: column;
    }
    .form-labels{
        width: 80%;
    }
    .btn-submiteo{
        margin: 2% 0 0 0;
        width: 80%;
    }
}