.body-low{
    display: flex;
    justify-content: center;
}
.responses-message {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30svh;
    justify-content: space-evenly;
    align-items: center;
}
.responses-message h1{
    font-weight: 300;
    font-size: 14pt;
}
.responses-message p{
    font-weight: 300;
    font-size: 12pt;
}