.pasajes{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 1%;
    width: 90%;
    height: 25svh;
    background-color: whitesmoke;
    border-radius: 25px;
    transition: box-shadow 0.3s;
}
.pasajes:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.pasajes form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.pasaje-tipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.pasaje-tipo input{
    border-radius: 0;
    background-color: transparent;
    border: none;
    width: 10%;
    font-size: inherit;
    font-family: inherit;
    color: black;
    padding: 0;
}
.pasaje-tipo input:hover{
    cursor: default;
}
.pasaje-tipo input:focus-visible {
    outline: transparent;
}
.pasaje-tipo h2{
    font-size: 12pt;
}
.pasaje-horario{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.pasaje-precio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.pasaje-boton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}
.pasaje-boton button{
    width: 50%;
}
.precio-php{
    display: flex;
    flex-direction: column;
}
.pasaje-origen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}
.pasaje-tiempo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.pasaje-tiempo img{
    width: 20px;
}
.pasaje-destino{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 25%;
}
.asientos{
    height: 30%;
    font-size: 10pt;
    font-weight: 200;
}
.pasaje-text-1{
    font-size: 10pt;
    font-weight: 200;
}
.pasaje-text-2{
    font-size: 12pt;
    font-weight: 300;
}
.pasaje-text-3{
    font-size: 12pt;
    font-weight: 200;
}
.pasaje-text-4{
    font-size: 10pt;
    font-weight: 200;
}
.pasajes-not-found{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 85svh;
    justify-content: center;
    align-items: center;
}
.pasajes-not-found h3{
    padding: 10% 0;
    font-weight: 300;
    font-size: 14pt;
}
@media (max-width: 768px) {
    .pasajes{
        width: 90%;
        height: 40svh;
        align-items: center;
    }
    .pasajes form{
        flex-direction: column;
    }
    .pasaje-horario{
        width: 100%;
    }
    .pasaje-origen{
        width: 40%;
    }
    .pasaje-tiempo{
        width: 10%;
    }
    .pasaje-destino{
        width: 40%;
    }
    .pasaje-precio{
        width: 100%;
    }
    .pasaje-boton{
        flex-direction: column;
    }
    .precio-php{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 1%;
    }
    .precio-php small{
        margin: 0 5px;
    }
}